main{
    background-color:  #282D35;
    color: white;
    margin: 4em ;
    padding-top: 1.5em;
    background-image: url(../../public/react-cover-icon.png);
    background-repeat: no-repeat;
    background-position: 100% 60%;
    margin-right: 0;
}

div >h1{
    font-size: 4.5em;
    letter-spacing: 0.1em;
}

ul{
    margin-top: 2em;
    font-size: 2.5em;
    
}
ul > li{
    padding-block: 0.4em;
    margin-left: 0.4em;
}

ul >  li::marker{
    font-size: 1em;
    color: #61DAFB;
}